.container h1{
    margin: 10px 10px;
}
.container .form-group {
    display: inline-block;
    margin: 10px 10px;
}
.container .form-group.full-width {
    display: block;
}
.container .form-group label{
    font-size: 12px;
}
.container .form-group input{
    display: block;
    font-size: 12px;
    border: 1px solid grey;
}
.container .form-group.full-width input{
    display: block;
    width: 40%;
}
.container .button-div {
    display: block;
}

.container .button-div button{
    margin: 10px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}