<div class="container">
  <h1>Search Form Page</h1>
  <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <div class="form-group">
      <label for="name">where</label>
      <input type="text" class="form-control" id="where"
             required
             [(ngModel)]="model.where" name="where">
    </div>
    
    <div class="form-group">
      <label for="checkIn">Check In</label>
      <input type="text"  class="form-control" id="checkIn"
             [(ngModel)]="model.checkIn" name="checkIn">
    </div>
    
    <div class="form-group">
      <label for="checkOut">Check Out</label> 
      <input type="text"  class="form-control" id="checkOut"
             [(ngModel)]="model.checkOut" name="checkOut">
    </div>

    <div class="form-group">
      <label for="numG">Number of Guests</label>
      <select class="form-control"  id="numG"
              required
              [(ngModel)]="model.numG" name="numG">
        <option *ngFor="let num of guests" [value]="num">{{num}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Search for Hotels</button>
  </form>
</div>